github "onevcat/Kingfisher" ~> 5.0
github "Moya/Moya" >= 14.0.0-beta.6
github "realm/realm-cocoa"
github "SwiftyJSON/SwiftyJSON" ~> 5.0
github "tristanhimmelman/ObjectMapper" ~> 3.5.1
github "Alamofire/Alamofire" "5.0.0-rc.3"
github "JonasGessner/JGProgressHUD"
